<head>
	<title>Cascade Coast</title>
	<meta content="width=device-width, initial-scale=1.0, user-scalable=no" name="viewport">
	<link rel="stylesheet" href="style.css">
	<meta charset="utf-8">
</head>
<body>
	<header>
	<h1>Cascade Coast</h1>
	<hr>
	<h2>カスケード海岸</h2>
	</header>
</body>
<footer>
</footer>