header {
	padding-top: 30px;
}

@font-face {
    font-family: avenir;
    src: url('avenir.ttf');
}

body {
	font-size: 1rem;
	font-family: 'avenir', helvetica, sans-serif;
	margin: 0;
	padding: 0;
}

p {
	line-height: 150%;
	padding: 2vw;
}

a {
	color: gray;
	text-decoration: none;
}

h1 {
	font-size: 1.5rem;
	padding-left: 20px;
	font-weight: 500;
}

h2 {
	font-size: 1rem;
	font-weight: 400;
	padding-left: 20px;
}

hr {
	color: black;
	width: 1rem;
	margin-left: 20px;
	height: 1px;
	background-color: black;
}